header {
	padding: 0;
	background-color: orange;
}
header h1 {
	padding: 8px 16px;
	margin: 0;
	display: inline-block;
}
header ul {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
header ul li {
	float: right;
}
header ul li a {
	display: block;
	padding: 19px;
	text-align: center;
	text-decoration: none;
	color: black;
}
header ul li a:hover {
	background-color: #cc8500;
}
footer {
	padding: 8px 16px;
	background-color:orange;
}